name: Lichess Bot
on:
  workflow_dispatch:
    inputs:
      command:
        description: "Command to run (run or upgrade)"
        required: false
        default: run
        type: choice
        options:
          - run
          - upgrade
  schedule:
    - cron: '0 */6 * * *'

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Libs
        run: pip install pyyaml requests
      - name: Make Engine Executable
        run: chmod +x ./Engine/stockfish
      - name: Run Bot
        env:
          STALE: ${{ secrets.STALE }}
        run: python -u bot.py ${{ github.event.inputs.command || 'run' }}
